# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
instance/*.db
instance/database.db
db.sqlite3

# Environment variables
*.env
.env*

# Config files with secrets
config.py
